@model TeacherViewModel

@{
    ViewData["Title"] = "Create";
}

<div style="text-align: center;">
    <a class="btn btn-primary" asp-action="Index">BACK</a>
</div>

<hr />

<form asp-action="Create" style="width: 25%; margin: auto;" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Teacher.FirstName" class="control-label"></label>
        <input asp-for="Teacher.FirstName" class="form-control" />
        <span asp-validation-for="Teacher.FirstName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Teacher.LastName" class="control-label"></label>
        <input asp-for="Teacher.LastName" class="form-control" />
        <span asp-validation-for="Teacher.LastName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Teacher.Degree" class="control-label"></label>
        <input asp-for="Teacher.Degree" class="form-control" />
        <span asp-validation-for="Teacher.Degree" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Teacher.AcademicRank" class="control-label"></label>
        <input asp-for="Teacher.AcademicRank" class="form-control" />
        <span asp-validation-for="Teacher.AcademicRank" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Teacher.OfficeNumber" class="control-label"></label>
        <input asp-for="Teacher.OfficeNumber" class="form-control" />
        <span asp-validation-for="Teacher.OfficeNumber" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Teacher.HireDate" class="control-label"></label>
        <input asp-for="Teacher.HireDate" class="form-control" />
        <span asp-validation-for="Teacher.HireDate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ProfileImage" class="control-label"></label>
        <div class="custom-file">
            <input asp-for="ProfileImage" class="custom-file-input" id="customFile" />
            <label class="custom-file-label" for="customFile">Choose File</label>
        </div>
        <span asp-validation-for="ProfileImage" class="text-danger"></span>
    </div>
    <div>
        <input type="submit" value="Add Teacher" class="btn btn-success" />
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        // Add the following code if you want the name of the file appear on select
        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    </script>
}
