@{
    ViewData["Title"] = "AdminIndex";
}

<div class="text-center">
    <h1 class="display-4">ADMIN<br /> &gt; Select Category &lt; </h1>
</div>

<div class="home-index-wrapper">
    <a class="btn-HOME" asp-controller="Student" asp-action="Index"><p>Students</p></a>
    <a class="btn-HOME" asp-controller="Teacher" asp-action="Index"><p>Teachers</p></a>
    <a class="btn-HOME" asp-controller="Course" asp-action="Index"><p>Courses</p></a>
    <a class="btn-HOME" asp-controller="Enrollment" asp-action="Index"><p>Enrollments</p></a>
</div>
