@{ 
    ViewData["Title"] = "Index";
    Layout = "_NonAdminLayout";
}

<div class="text-center">
    <h1 class="display-4"> &gt; Login As &lt;</h1>
</div>

<div class="home-index-wrapper">
    <a class="btn-HOME" asp-controller="Home" asp-action="AdminIndex"><p>Admin</p></a>
    <a class="btn-HOME" asp-controller="Teacher" asp-action="TeacherLogin"><p>Teacher</p></a>
    <a class="btn-HOME" asp-controller="Student" asp-action="StudentLogin"><p>Student</p></a>
</div>