@model Student

@{
    ViewData["Title"] = "Edit";
}

<div style="text-align: center;">
    <a class="btn btn-primary" asp-action="Details" asp-route-id="@Model.Id">BACK</a>
</div>

<hr />

<form asp-action="Edit" style="width: 25%; margin: auto;">
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label asp-for="StudentId" class="control-label"></label>
        <input asp-for="StudentId" class="form-control" />
        <span asp-validation-for="StudentId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="FirstName" class="control-label"></label>
        <input asp-for="FirstName" class="form-control" />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="LastName" class="control-label"></label>
        <input asp-for="LastName" class="form-control" />
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="EnrollmentDate" class="control-label"></label>
        <input asp-for="EnrollmentDate" class="form-control" />
        <span asp-validation-for="EnrollmentDate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="AcquiredCredits" class="control-label"></label>
        <input asp-for="AcquiredCredits" class="form-control" />
        <span asp-validation-for="AcquiredCredits" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CurrentSemester" class="control-label"></label>
        <input asp-for="CurrentSemester" class="form-control" />
        <span asp-validation-for="CurrentSemester" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="EducationLevel" class="control-label"></label>
        <input asp-for="EducationLevel" class="form-control" />
        <span asp-validation-for="EducationLevel" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Save Changes" class="btn btn-success" />
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
