<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RSWEB Project</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">

                <a class="navbar-brand" asp-controller="Home" asp-action="Index">RSWEB Project</a>

                @if (ViewData["ProfilePicture"] != null)
                {
                    <div style="height: 100%;">
                        <img src="~/images/@ViewData["ProfilePicture"]" style="height: 40px; border-radius: 20px;" />
                        <span style="color: gray;">&nbsp;@ViewData["FullName"]</span>
                    </div>
                }

            </div>
        </nav>
    </header>


    <div style="padding-bottom: 80px;">
        <!--for the footer (footer is fixed and height is 60px)-->
        @RenderBody()
    </div>


    <footer class="footer border-top text-muted">
        <div class="container">
            &copy; 2020 - RSWEB Project/Workshop - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
